@font-face {
  font-family: "youtube-sans";
  src: url('../styles/fonts/YouTubeSansBold.otf');
}

.header {
  display: flex;
  grid-area: header;
  background: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  gap: 1rem;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.hamburger-menu {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.logo {
  display: flex;
  gap: .25rem;
  align-items: center;
  text-decoration: none;
  img {
    width: 64px;
  }

  span {
    font-family: youtube-sans;
    font-size: 3rem;
  }
}

.search-bar {
  display: flex;
  flex-shrink: 1;
  flex-basis: 34.125rem;
}

.search-bar input {
  width: 100%;
  padding: .5rem;
  border-radius: 20px 0 0 20px;
  border: 1px solid gray;
}

.search-bar button {
  cursor: pointer;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 0 20px 20px 0;
  transition: 0.3s;
}

.search-bar button:hover {
  background-color: rgb(214, 214, 214);
}

#mic {
  border-radius: 50%;
  margin-left: 20px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icons img {
  width: 40px;
  border-radius: 50%;
}

@media screen and (max-width: 880px) {
  .left-section {
    gap: 0;
  }

  .logo {
    span {
      display: none;
    }
  }
}
